#aesop-generator-settings-outer #aesop-generator-settings .aesop-buttoninsert-wrap {
    margin:20px auto 0;
    border-bottom:none;
    box-shadow:none;
}
.wp-media-buttons .aesop-admin-button-icon {
    line-height: 1.5em;
}

.wp-fullscreen-active {
    .aesop-add-story-component {
        float: right;
        line-height: 1.9;
        height: auto;
        margin-left: 12px;

        span {
            line-height: 1.6;
            font-size: 18px;
        }
    }
}