#aesop-generator-wrap {
    display: none;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100050;

    &.aesop-generator-open {
        display: block;
    }

     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}