.aesop--welcome {

    * { .box-sizing(border-box); }

    @bg:        white;
    @accent:    darken(@bg,5);
    @border:    darken(@bg, 10);
    @link:      #007aab;

    // global section
    .aesop--welcome__section {
        padding:25px;
        background: @bg;
        border:1px solid @border;
        border-radius:4px;
        margin:20px auto;

        &:first-of-type {
            margin-top:25px;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        h3 {
            color:#777;
        }
    }

    .aesop--welcome__section--top {
        .clearfix();
        img {
            max-width:150px;
            float:left;
            border-radius:3px;
            margin-right:25px;
            background:@accent;
            border:1px solid @border;
            padding:5px;
        }
    }

    // social
    .aesop--welcome__social {
        list-style: none;
        margin:0;
        padding:0;
        .clearfix();

        li {
            float: left;
        }

        a {
            padding:2px 6px;
            display: block;
            text-decoration: none;
            color:inherit;

            &:hover {
                color:@link;
                text-decoration: none;
            }
        }
    }

    .aesop--welcome__steps {
        list-style-type: upper-roman;
        margin:0;
        padding:0;
        list-style-position: inside;

        pre {
            word-wrap:break-word;
            background:@accent;
            padding:10px;
            border-radius:2px;
        }
    }
}

