.aesop-component + p {
    margin-top:1.5rem;
}

// parallax item
.aesop-parallax-sc {
    position: relative;
    height:450px;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);

    .aesop-parallax-sc-img {
        height: 800px;
        background-position: 25% 50%;
        background-repeat: no-repeat;
        position: absolute;
        width:100%;
        left:0;
        top:0;
        z-index: -1;
 

        &.is-parallax {
           // background-attachment: fixed;
        }
    }

    .aesop-parallax-sc-caption-wrap {
        position: absolute;
        background: rgba(0,0,0,0.5);
        color:white;
        padding:0.5rem 1.5rem 0.65rem;
        font-size:14px;
        max-width:400px;

        &.bottom-left {
            bottom:20px;
            left:25px;
        }

        &.top-left {
            top:20px;
            left:25px;
        }

        &.top-right {
            top:20px;
            right:25px;
            text-align: right;
        }

        &.bottom-right {
            bottom:20px;
            right:25px;
            text-align: right;
        }

        &.bottom-left {
            bottom:20px;
            left:25px;
        }

        .aesop-parallax-sc-caption {

        }
    }
    .aesop-lb-link {
        position: absolute;
        top:50%;
        left:50%;

        .opacity(.1);

        i {
            color:white;
        }
    }

    &:hover {
        .aesop-lb-link {
            .opacity(.5);
            .transition(opacity .5s ease-in-out);
        }
    }

    .aesop-parallax-sc-floater {
        position: absolute;

        &.floater-right {
            right:30px;
        }
        &.floater-left {
            left:30px;
        }
    }
}