// extended vars
@link-color:                #428bca;
@body-bg:                   #fff;
@baseContrast:              darken(@body-bg,5);
@text-color:                #333;
@width:                     800px;
@font-size-small:           14px;
@font-size-xsmall:          12px;
@font-family-sans-serif:    "Helvetica Neue", Helvetica, Arial, sans-serif;
@aesop-flip-text:           contrast(@text-color, lighten(@text-color, 50), darken(@text-color,10), 50%);

// mixins
.transition(@transition) {
  -webkit-transition: @transition;
          transition: @transition;
}
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
          box-shadow: @shadow;
}
.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}

// start styles

// character
.aesop-character-component {

    .aesop-character-float {
        margin: .65rem 0;
        width:150px;
        text-align: center;

        .aesop-character-title {
            vertical-align: top;
            font-size:@font-size-xsmall;
            font-family:@font-family-sans-serif;
            color:@aesop-flip-text;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            display: block;
            text-align: center;
            margin:0 0 0.5rem;
        }
        // character right
        &.aesop-character-right {
            float: right;
            margin-left:1.75rem;
        }

        //character center
        &.aesop-character-center {
            .aesop-character-name {
                text-align: center;
            }
        }

        //character left
        &.aesop-character-left {
            float:left;
            margin-right:1.75rem;
        }
    }
    .aesop-character-avatar {
        width: 90%;
        border-radius:50%;
    }
    .aesop-character-cap {
        font-size:@font-size-xsmall;
        line-height: @font-size-small;
        font-family:@font-family-sans-serif;
        color:@aesop-flip-text;
        font-style: italic;
        margin-top:0.8rem;
        border-top:1px dotted @link-color;
        padding-top:0.3rem;
    }
}

// content component
.aesop-content-comp-wrap {
    padding:4rem 3rem;
}

// stacked parallax
.aesop-stacked-img {
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    left:0;
    top:0;
    position: relative;
    overflow: hidden;

    .aesop-stacked-caption {
        position: absolute;
        bottom:20px;
        right:20px;
        z-index: 0;
        background: fadeout(@body-bg,10);
        .transition(all .75s ease-in-out);
    }
}

// aesop image lightbox
.aesop-img-enlarge i,
.aesop-lb-link i {

    position: relative;

    &:after {
          display: inline-block;
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
            content: '\f00e';
    }
}


// image component
.aesop-image-component {
    img{
        .box-shadow(0 0 6px -1px rgba(0,0,0,0.5));
    }
    .aesop-img-enlarge {
        margin:0 0 0.5rem;

        &:hover {
            text-decoration: none;
        }
    }
    .aesop-img-enlarge,
    .aesop-image-component-caption {
        color:lighten(@text-color,15);
        font-size:@font-size-xsmall;
        font-family:@font-family-sans-serif;
    }
    .aesop-cap-cred,
    .aesop-img-enlarge {
        color:@aesop-flip-text;
    }
    .aesop-cap-cred {
        border-top:1px dotted @link-color;
        font-size:@font-size-xsmall - 3;
    }

    &:hover {
        .opacity(0.85);
        .transition(opacity .25s ease-in-out);
    }
    &:active img{
        box-shadow: none;
    }
}

// audio components
.mejs-container {
    width:100%;
    max-width:@width !important;
    margin-left:auto;
    margin-right:auto;

    + p {
        margin-top:1rem;
    }
}

// video components
.aesop-video-component {
    .aesop-video-component-caption {
        color:inherit;
    }

}
.aesop-video-chapter {
    .aesop-cover-title {
        z-index: 1;
    }
}
.jorgen-article-cover-wrap {
    position: fixed;
}
.aesop-article-chapter-wrap {
    position: relative;

    .aesop-cover-title {
        max-width: 100%;
    }
}

.aesop-chapter-title {
    position: absolute;
    left:-10000px
}
// quote components
.aesop-quote-component {
    padding:8rem 12rem;
    blockquote {
        .opacity(0);

        &.aesop-quote-faded {
            .opacity(1.0);
            .transition(opacity .35s ease-in-out);
        }

    }
}

// grid gallery
.aesop-grid-gallery img:hover {
    .opacity(.75);
}
// document
.aesop-documument-component {
    a {
        font-size: @font-size-xsmall;
        font-family: @font-family-sans-serif;
        color:lighten(@text-color,15);
        line-height: @font-size-xsmall;

        span {
            border-bottom:1px solid @baseContrast;
            font-size: @font-size-xsmall - 2;
            color:lighten(@text-color,30);

            &:before {
                content:'\f0f6';
                font-family: FontAwesome;
                position: absolute;
                left:0;
            }
        }
    }
}

//sequence gallery
.aesop-sequence-img-wrap {

    .aesop-sequence-caption {
        padding-left:4.5rem;
        &:before {
            left: 0;
            bottom: -4px;
            font-weight:bold;
            line-height: 1;
            padding:0.6rem 0.75rem;
            border:1px solid;
            border-color:inherit;
            content: counter(sequence-counter, decimal-leading-zero);
            counter-increment: sequence-counter;
        }
    }

    .aesop-sequence-img {
        width:100%;
         max-width:1200px;
         display: block;
    }
}

// collections component
.aesop-story-collection {

    .aesop-story-collection-title {
        text-align: center;
        background:@body-bg;
        color:white;
        text-transform: uppercase;
        font-size:1.75rem;
        line-height: 1.75rem;
        letter-spacing: 0.05rem;
        padding:0.8rem 0 0.6rem;
        margin:0;
        z-index: 2;
        position: relative;
        .box-shadow(0 7px 7px -7px rgba(0,0,0,1.0));
    }

    .aesop-collection-item {
        float: left;
        position: relative;
        height: 400px;

        .aesop-collection-item-link {
            display: table;
            height:100%;
            width:100%;
            color:white;
            .transition(all .25s ease-in-out);

            &:before {
                position: absolute;
                content:'';
                width:100%;
                height:100%;
                background: black;
                .opacity(.65);
                z-index: 1;
            }

            &:hover {
                text-decoration: none;
                .transition(all .25s ease-in-out);
                &:before {
                    .transition(opacity .25s linear);
                    .opacity(0);
                }
                .aesop-collection-item-inner {
                    background:rgba(0,0,0,0.5);
                }
            }

        }

        .aesop-collection-item-inner {
            display: table-cell;
            vertical-align: middle;
            width:100%;
            height: 100%;
            padding:0 2.5rem;
            position: relative;
            text-align: center;
            z-index: 1;
            overflow: hidden;
            text-shadow:0 0 3px rgba(0,0,0,0.6);

            .aesop-collection-entry-title {
                font-weight: 800;
                margin:0 0 0.75rem;
                text-transform: uppercase;
                color:white;
            }
            .aesop-collection-item-excerpt {
                font-size:@font-size-xsmall;
            }
            .aesop-collection-meta {
                font-family:@font-family-sans-serif;
                font-size:@font-size-xsmall;
                margin-bottom:3rem;
                font-style: italic;
            }
        }

        .aesop-collection-item-img {
            position: absolute;
            width:100%;
            height:100%;
            left:0;
            z-index: 0;
            background-position: center center;
        }
    }

    //splash mode
    .aesop-collection-splash {
        .aesop-collection-item-link {
            &:before {
                content:none;
            }
            &:hover {
                .aesop-collection-item-inner {
                    background:transparent;
                }
            }
        }
        .aesop-collection-item-inner {
            .aesop-collection-entry-title {
                color:@text-color;
                text-shadow:none;
            }
        }
    }

}
