img[data-action="aesop-zoom"] {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}
.aesop-zoom-img,
.aesop-zoom-img-wrap {
    position: relative;
    z-index: 777;
    .transition(all 300ms);
}
img.aesop-zoom-img {
    cursor: pointer;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
}
.aesop-zoom-overlay {
    z-index: 420;
    background: @lightbox--bg;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    .opacity(0);
    .transition(opacity 300ms);
}
.aesop-zoom-overlay-open .aesop-zoom-overlay {
    .opacity(1);
}