@import 'base.less';

.aesop-content-component {
    .aesop-content-comp-wrap {
        padding:1.5em 2em;

        @media(max-width:766px) {
            padding:1em;
        }
    }

    .aesop-content-comp-inner {
        p {
            line-height: 1.2em;
        }
    }

    .aesop-content-img {
        .aesop-content-comp-inner {
            background:fadeout(@body-bg,7);
            padding: 1rem;
            line-height: 1.3;
            p {
                margin-bottom: 0;
            }
        }
    }
}
