@import "base.less";

.aesop-gallery-component {
    .aesop-component-caption {
        .aesop-component-caption;
    }
}

// stacked parallax
.aesop-stacked-img {
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    left:0;
    top:0;
    position: relative;
    overflow: hidden;

    .aesop-stacked-caption {
        position: absolute;
        bottom:20px;
        right:20px;
        z-index: 0;
        .aesop-component-caption();
        .transition(all .75s ease-in-out);
    }
}
// document


//sequence gallery
.aesop-sequence-img-wrap {

    .aesop-sequence-caption {
        padding-left:4.5rem;
        &:before {
            left: 0;
            bottom: -4px;
            font-weight:bold;
            line-height: 1;
            padding:0.6rem 0.75rem;
            border:1px solid;
            border-color:inherit;
            content: counter(sequence-counter, decimal-leading-zero);
            counter-increment: sequence-counter;
        }
    }

    .aesop-sequence-img {
        width:100%;
         max-width:1200px;
         display: block;
    }
}