// aesop image lightbox
.aesopicon-search-plus{

    position: relative;

    &:after {
          display: inline-block;
          font-family: 'Dashicons';
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
            content: '\f179';
    }
}

.aesop-parallax-component {
    .aesop-parallax-sc {
        margin:0;
    }
}