@import 'base.less';

.aesop-quote-component {
    padding:3rem 2rem;

    blockquote {
        font-style: italic;
    }

    cite {
        display: block;
        font-size: @font-size-small;
    }

}

.aesop-on-genesis {
    .aesop-quote-component {
        blockquote:before {
            content:none;
        }
    }
}